{%extends 'temp.html'%}
{% block body %}
    <div class ="container">
        <h2>Choose a stream.</h2>
        <form action="/static" method ="POST">
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/static">Static</a>
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/livestream">Live</a>
            <button type="submit" formaction ="static" class="btn">Static</button>
            <button type="submit" formaction="livestream" class="btn">Livestream</button>
        </form>
    </div>
{% endblock %}